2025-01-20 22:36:39.3546 Info Loading assembly name: NLog.MailKit
2025-01-20 22:36:39.3679 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:36:39.3907 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:36:39.3996 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:36:39.3996 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:36:39.4172 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 22:36:39.4172 Info Configuration initialized.
2025-01-20 22:43:53.1305 Info Loading assembly name: NLog.MailKit
2025-01-20 22:43:53.1429 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:43:53.1774 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:43:53.1842 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:43:53.1974 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:43:53.1974 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 22:43:53.2120 Info Configuration initialized.
2025-01-20 22:47:27.6263 Info Loading assembly name: NLog.MailKit
2025-01-20 22:47:27.6397 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:47:27.6645 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:47:27.6822 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:47:27.6822 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:47:27.6822 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 22:47:27.6983 Info Configuration initialized.
2025-01-20 22:51:49.2773 Info Loading assembly name: NLog.MailKit
2025-01-20 22:51:49.2905 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:51:49.3123 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:51:49.3218 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:51:49.3218 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:51:49.3420 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 22:51:49.3516 Info Configuration initialized.
2025-01-20 23:45:25.8006 Info Loading assembly name: NLog.MailKit
2025-01-20 23:45:25.8183 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:45:25.8569 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:45:25.8691 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:45:25.8691 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:45:25.8864 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:45:25.9036 Info Configuration initialized.
2025-01-20 23:45:43.0415 Info Loading assembly name: NLog.MailKit
2025-01-20 23:45:43.0559 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:45:43.0846 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:45:43.1048 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:45:43.1048 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:45:43.1227 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:45:43.1374 Info Configuration initialized.
2025-01-20 23:46:19.0745 Info Loading assembly name: NLog.MailKit
2025-01-20 23:46:19.1032 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:46:19.1718 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:46:19.2300 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:46:19.2300 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:46:19.2596 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:46:19.2793 Info Configuration initialized.
2025-01-20 23:49:11.6167 Info Loading assembly name: NLog.MailKit
2025-01-20 23:49:11.6391 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:49:11.6901 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:49:11.7119 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:49:11.7295 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:49:11.7295 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:49:11.7514 Info Configuration initialized.
2025-01-20 23:50:37.6254 Info Loading assembly name: NLog.MailKit
2025-01-20 23:50:37.6442 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:50:37.6721 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:50:37.6792 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:50:37.6792 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:50:37.6995 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:50:37.7143 Info Configuration initialized.
2025-01-20 23:54:40.3090 Info Loading assembly name: NLog.MailKit
2025-01-20 23:54:40.3251 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:54:40.3583 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:54:40.3683 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:54:40.3844 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:54:40.3844 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:54:40.3998 Info Configuration initialized.
2025-01-20 23:55:04.2222 Info Loading assembly name: NLog.MailKit
2025-01-20 23:55:04.2399 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:55:04.2719 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:55:04.2806 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:55:04.2915 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:55:04.2915 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:55:04.3107 Info Configuration initialized.
2025-01-20 23:58:10.2304 Info Loading assembly name: NLog.MailKit
2025-01-20 23:58:10.2499 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 23:58:10.2914 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 23:58:10.3074 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 23:58:10.3074 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 23:58:10.3212 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-20 23:58:10.3392 Info Configuration initialized.
2025-01-21 00:01:30.1793 Info Loading assembly name: NLog.MailKit
2025-01-21 00:01:30.1996 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-21 00:01:30.2341 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-21 00:01:30.2447 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-21 00:01:30.2447 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-21 00:01:30.2647 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-21 00:01:30.2760 Info Configuration initialized.
2025-01-21 00:08:35.3858 Info Loading assembly name: NLog.MailKit
2025-01-21 00:08:35.5277 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-21 00:08:35.5683 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-21 00:08:35.5863 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-21 00:08:35.5863 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-21 00:08:35.5863 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-21 00:08:35.6056 Info Configuration initialized.
2025-01-21 00:09:31.0795 Info Loading assembly name: NLog.MailKit
2025-01-21 00:09:31.0957 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-21 00:09:31.1268 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-21 00:09:31.1377 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-21 00:09:31.1502 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-21 00:09:31.1502 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-21 00:09:31.1661 Info Configuration initialized.
2025-01-23 21:11:32.5035 Info Loading assembly name: NLog.MailKit
2025-01-23 21:11:32.6464 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-23 21:11:32.6837 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-23 21:11:32.6983 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-23 21:11:32.6983 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-23 21:11:32.7168 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-23 21:11:32.7168 Info Configuration initialized.
2025-01-26 17:35:53.9911 Info Loading assembly name: NLog.MailKit
2025-01-26 17:35:54.1255 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-26 17:35:54.2242 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-26 17:35:54.3053 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-26 17:35:54.3179 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-26 17:35:54.3429 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-26 17:35:54.3838 Info Configuration initialized.
2025-01-30 19:12:06.8494 Info Loading assembly name: NLog.MailKit
2025-01-30 19:12:06.9156 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-30 19:12:06.9432 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-30 19:12:06.9579 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-30 19:12:06.9730 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-30 19:12:06.9730 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ApiprojectWebFinal\OurShop\nlog.config
2025-01-30 19:12:06.9921 Info Configuration initialized.
